DirectoryIndex index.php

RewriteEngine On

RewriteRule ^$ students/index.php [L]

RewriteCond %{REQUEST_URI} !^/students(?:/|$)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/students/$1 -f [OR]
RewriteCond %{DOCUMENT_ROOT}/students/$1 -d
RewriteRule ^(.+)$ students/$1 [L]
